<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
  <display-name>ChatApp</display-name>
  <welcome-file-list>
  	<welcome-file>LoginController</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

<security-constraint>
	<web-resource-collection>
		<web-resource-name>Protected pages</web-resource-name>
		<url-pattern>/*</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	</user-data-constraint>
</security-constraint>
<security-constraint>
	<web-resource-collection>
		<web-resource-name>Free pages</web-resource-name>
		<url-pattern>/LoginController</url-pattern>
		<url-pattern>/RegistrationController</url-pattern>
		<url-pattern>/ErrorController</url-pattern>
	</web-resource-collection>
</security-constraint>
   
  <error-page>
  	<error-code>404</error-code>
  	<location>/404.html</location>
  </error-page>
  <session-config>
  	<session-timeout>15</session-timeout>
  </session-config>
</web-app>