body {
	font-family: Arial;
	font-size: 10px;
}

h1 {
	font-size: 15px;
}

h2 {
	font-size: 12px;
}

h3 {
	font-size: 11px;
}

a {
	color: blue;
	font-style: italic;
	font-weight: normal;
}

a:hover {
	font-weight: bold;
}